.proyecto-div{
    border-radius: 8px;
    background-color: rgba(117, 36, 77, 0.438);
    flex-grow: 1;
    flex-basis: 400px;
    height: 150px;
    display: flex;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}

.proyecto-div:hover{
    background-color: rgb(158, 98, 20);
    transition: .5s;
}

.proyecto-div div{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-titulo{
    color: rgb(228, 228, 228);
}


@media (max-width:768px){
    .proyecto-div:hover{
        background-color: rgba(117, 36, 77, 0.438);
    } 
} 