.projects-contenedor{
    height: 100vh;
    padding: 15vh calc(15vh + 5%) 15vh 15vh;
}

.projects-contenedor > div{
    margin-right: 5%;
    height: 60vh;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 200px;
}





