.contenedor-skills{
    width: 100%;
    height: 100vh;
    position: relative;
}
.contenedor-skills > div{
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 10%;
    left: 7.5%;

    padding:  30px 130px 130px 130px;
    user-select: none;
    
}

.skills{
    display: flex;
    gap: 250px;
    justify-content: center;
}

.skills + .skills{
    margin-top: 160px;
}

.skills-tittle{
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    padding-bottom: 50px;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}