*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
  background: #0f0c29;  /* fallback for old browsers */
  background: linear-gradient( 30deg, #320a53, #000000, #320a53); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

html {
  scroll-behavior:smooth;
}

a:visited {
  color: rgb(255, 255, 255) !important;  /* Puedes establecer el mismo color para el enlace visitado */
}

/* Estilo del enlace cuando está activo (seleccionado) */
a:active {
  color: rgb(255, 255, 255) !important; /* Puedes establecer el mismo color para el enlace activo */
}
      
