*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #304370 0%, #213550 74%);
}

html {
  scroll-behavior:smooth;
}
      
