.about-div{
    height: 100vh;
    padding: 20vh calc(20vh + 5%) 20vh 20vh;

}

.about-div > div {
    background-color: #ffffff35;
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px rgba( 31, 38, 135, 0.1 );
    height: 60vh;
    border-radius: 15px;
    padding: 35px;
    overflow-y: scroll;
    
}

.about-div > div::-webkit-scrollbar {
    -webkit-appearance: none;
}

.about-div > div::-webkit-scrollbar:vertical {
    width:10px;
}

.about-div > div::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.about-div > div::-webkit-scrollbar:horizontal {
    height: 10px;
}

.about-div > div::-webkit-scrollbar-thumb {
    background-color: #5347ae;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.about-div > div::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.text-about-me{
    font-size: 2.5vh;
    color: rgb(201, 200, 200);
    line-height: 1.8em;
    
}

.strong{
    color: rgb(255, 255, 255);
}

.tittle-about-me{
    font-size: 40px;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .about-div{
        height: 100vh;
        padding: 25% 5% 10% 5%;
        
    }
    
    
    .about-div > div {
        border-radius: 20px;
        box-shadow: 0px 1px 10px 0px rgba(67, 71, 126, 0.704);
        height: 80vh;
        padding: 20px;
        
    }
    
    .text-about-me{
        font-size: 15px;
        line-height: 1.7em;
        
    }
    .tittle-about-me{
        font-size: 35px;
        padding:0;
    }
  }