.header-main{
    z-index: 1;
    width: 5%;
    height: 100%;
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav{
    flex-direction: column;
    display: flex;
    gap: 50px;
}

.header-nav-li{
    list-style: none;
}

.header-nav-li-a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    padding: 10px 0 3px 10px;
    transition: .2s;
    position: relative;
  }
  
  .header-nav-li-a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    transition: .2s;
  }
  
  .header-nav-li-a:hover::before {
    background-color: rgb(240, 237, 237);
  }
@media (max-width: 1300px) {

.header-nav-li-a {
    font-size: 30px;
    margin-right: 30px;
  }

}

@media (max-width: 768px) {
  .header-main{
      border-left: none;
      border-bottom: 1px solid rgb(255, 255, 255);
      width: 100%;
      height: 8%;
      box-shadow:none;
      background-color: #131313;
  }

  .header-nav{
      flex-direction: row;
      gap: 20px; 
  }
  .header-nav{
    margin-top: 10px; 
  }
  .header-nav-li-a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-radius: 50%;
  }
  
  .header-nav-li-a:hover::before {
    background-color: rgb(255, 255, 255);
  }
}


@media (max-width: 450px){
  .header-nav{
    flex-direction: row;
    gap: 5px; 
}
}

